# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/

# Env
.env
*.env.local

# Node / frontend (Phase 6 onward)
node_modules/
dist/
.vite/

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log

# DB
*.sqlite3
backend/app/static/exports/
backend/scripts/server_key